{% load static %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'seatingplan/css/variables.css' %}">
<link rel="stylesheet" href="{% static 'seatingplan/css/style.css' %}">

<title>Seating Plan</title>

<div class="layout-container">
    <div class="sidebar-container">
        <div class="sidebar">
            <div class="sidebar-actions">
                <div class="toolbar">
                    <button title="Undo" id="undo-button" class="toolbar-item left"><img src="{% static 'seatingplan/images/components/undo.svg' %}" alt="Undo"></button>
                    <div class="toolbar-separator"></div>
                    <button title="Redo" id="redo-button" class="toolbar-item"><img src="{% static 'seatingplan/images/components/redo.svg' %}" alt="Redo"></button>
                    <div class="toolbar-separator"></div>
                    <button title="Zoom In" class="toolbar-item"><img src="{% static 'seatingplan/images/components/zoom-in.svg' %}" alt="Zoom In"></button>
                    <div class="toolbar-separator"></div>
                    <button title="Zoom Out" class="toolbar-item right"><img src="{% static 'seatingplan/images/components/zoom-out.svg' %}" alt="Zoom Out"></button>
                </div>

                <button id="seat-outlines-toggle-button" class="sidebar-button">
                    <img src="{% static 'seatingplan/images/components/seat-outline.svg' %}" alt="Seat Outline Icon"> Toggle Seat Outlines
                </button>
                <button id="shuffle-seatings-button" class="sidebar-button">
                    <img src="{% static 'seatingplan/images/components/shuffle.svg' %}" alt="Shuffle Icon"> Shuffle Seatings
                </button>
                <button id="save-button" class="sidebar-button">
                    <img src="{% static 'seatingplan/images/components/save.svg' %}" alt="Save Icon"> Save Configuration
                </button>
                <button id="export-button" class="sidebar-button">
                    Export as: <img src="{% static 'seatingplan/images/components/downarrow.svg' %}" alt="Down Arrow" style="margin-top: 3px">
                </button>
                <div class="export-dropdown">
                    <div class="dropdown-item first"><img src="{% static 'seatingplan/images/components/file-pdf.svg' %}" alt=".pdf icon"> .pdf file</div>
                    <div class="dropdown-item"><img src="{% static 'seatingplan/images/components/file-png.svg' %}" alt=".png icon"> .png file</div>
                    <div class="dropdown-item last"><img src="{% static 'seatingplan/images/components/file-csv.svg' %}" alt=".csv icon"> .csv file</div>
                </div>
            </div>

            <div title="Toggle Sidebar" id="toggle-sidebar" class="toggle"><img class="arrow" src="{% static 'seatingplan/images/components/leftarrow.svg' %}"></div>
        </div>
    </div>

    <div class="seatplan-container">
        <div class="seating-grid-container">
            <div class="seating-grid">
                <div class="seating-row">
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                </div>
                <div class="seating-row">
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                </div>

                <div class="seating-row">
                    {% if people %}
                        {% for group in people %}
                                <div class="seat-group">
                                {% for person in group %}
                                    <div class="seat-container">
                                        <div title="Empty Seat" class="seat {% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %}"></div>
                                        <div class="person-block {% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %}">
                                            <div class="name">
                                                {{ person }}
                                            </div>
                                        </div>
                                        {% if not forloop.last %}<div class="seat-separator"></div>{% endif %}
                                    </div>
                                {% endfor %}
                                </div>
                                <div title="Add New Seat" class="seat-outline"></div>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="seating-row">
                    {% if people %}
                        {% for group in people %}
                                <div class="seat-group">
                                {% for person in group %}
                                    <div class="seat-container">
                                        <div title="Empty Seat" class="seat {% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %}"></div>
                                        {% if not forloop.last %}<div class="seat-separator"></div>{% endif %}
                                    </div>
                                {% endfor %}
                                </div>
                                <div title="Add New Seat" class="seat-outline"></div>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="seating-row">
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                </div>
                <div class="seating-row">
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                    <div title="Add New Seat" class="seat-outline"></div>
                </div>
            </div> <!--.seating-grid ends here-->
        </div> <!--.seating-grid-container ends here-->
    </div> <!--.seatplan-container ends here-->
</div> <!--.layout-container ends here-->

<script defer>
    const sidebar = document.querySelector(".sidebar");
    const toggleSidebarElement = document.getElementById("toggle-sidebar");
    const arrow = toggleSidebarElement.querySelector(".arrow");
    const sidebarActions = document.querySelector(".sidebar .sidebar-actions");

    const getCssVariable = (variableName) => {
        const rootStyles = getComputedStyle(document.documentElement);
        return rootStyles.getPropertyValue(variableName).trim();
    }

    const toggleSidebar = (event) => {
        const sidebarCurrentWidth = getComputedStyle(sidebar).minWidth;

        if (sidebarCurrentWidth === getCssVariable("--sidebar-width")) {
            sidebar.style.minWidth = getCssVariable("--sidebar-togglebutton-width");
            sidebarActions.style.display = "none";
            sidebar.style.border = "none";

            toggleSidebarElement.style.transform = "translateY(-50%) scale(-1, 1)";
        }
        else {
            sidebar.style.minWidth = getCssVariable("--sidebar-width");
            sidebarActions.style.display = "flex";
            sidebar.style.borderRight = `${getCssVariable("--sidebar-border-width")} solid #000000`;

            toggleSidebarElement.style.transform = "translateY(-50%) scale(1)";

        }
    }

    toggleSidebarElement.addEventListener("click", toggleSidebar);
</script>
