.layout-container {
    display: flex;
    justify-content: center;
    min-height: 100vh;

    &>.login-container {
        border: 1px solid black;
        padding-inline: 2rem;
        padding-top: 15px;
        height: fit-content;
        padding-bottom: 8rem;
        width: 33rem;
        position: absolute;
        transform: translateY(30%);
        margin-bottom: 100px;
        border-radius: 20px;
        margin-inline: 20px;
        color: black;
        display: flex;
        flex-direction: column;
        box-shadow: -2px 0px 10px 2px var(--blue-accent-color);

        & .login-header {
            font-weight: 500;
            font-size: 230%;
            margin-top: 15px;
            margin-bottom: 15px
        }

        & .input-header {
            text-decoration: underline;
            text-decoration-color: var(--blue-accent-color);
            text-decoration-skip-ink: none;
            text-underline-offset: 4px;
            text-decoration-thickness: 2.5px;
            font-weight: 400;
            font-size: 120%;
            margin-bottom: 15px;
            margin-top: 10px;
        }

        & input {
            border-radius: calc(var(--default-border-radius) - 15px);
            border: 1.5px solid black;
            padding: 7px;
            background-color: var(--off-white-color);
            width: 100%;
            height: 3rem;
            transition: border 200ms;
            font-size: 100%;
            color: black;

            &:focus {
                border-color: var(--blue-accent-color);
                outline: none;
            }
        }

        & .login-submit {
            background-color: var(--blue-accent-color);
            border-radius: calc(var(--default-border-radius) - 15px);
            border: none;
            color: black;
            cursor: pointer;
            width: 100%;
            height: 3.5rem;
            font-size: 120%;
            font-weight: 500;
            transition: filter 400ms;
            margin-top: 30px;

            &:hover {
                filter: invert(10%)
            }
        }

        & .signup {
            margin-top: 30px;
            color: black;

            &>a {
                color: var(--darkblue-accent-color);
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    @media (max-width: 1920px) {
        .login-container { transform: translateY(20%); }
    }
    @media (max-width: 450px) {
        .login-container {
            border: none;
            border-radius: 0;
            box-shadow: none;
            margin-inline: 0;
            width: 100%;
            transform: translateY(5%);
            margin-bottom: 0;

            & .login-header { font-size: 180%; }
            & .input-header { font-size: 100%; }
            & input         { font-size: 90%;  }
            & .login-submit { font-size: 110%; }
        }
    }
}
